/*
Inspired from http://userstyles.org/styles/152391
Applies to: amazon.co.uk, amazon.com, amazon.ca, amazon.de, amazon.it, amazon.es, amazon.fr, amazon.com.mx and amazon.in

*/




hr {
    border-top: 1px solid #c2185b !important;
}
tr {
    background: #fce4ec !important;
}
#nav-upnav {
    /*Ad Tag at Top*/
    
    display: none !important;
}
[style*="background: #fff"] {
    background: #fce4ec !important;
}
[style*="background-color: #fff"] {
    background-color: #fce4ec !important;
}
[style*="color: #fce4ec"] {
    color: #c2185b !important;
}
[style*="color: #111"] {
    color: #f06292 !important;
}
[style*="color: #222"] {
    color: #f06292 !important;
}
[style*="color: #333"] {
    color: #f06292 !important;
}

[bgcolor*="#FFFFFF"] {
    background: #fce4ec !important;
}
[bgcolor*="#DDDDCC"] {
    background: #fce4ec !important;
}
[style*="background-color: #F5F5E6;"] {
    background: #fce4ec !important;
}
[style*="background-color:#fff;"] {
    background-color: #fce4ec !important;
}

#subscription-settings {
    border: none !important;
}

ul.a-tabs {
    border: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
}
ul.a-tabs .a-tab-heading.a-active a, ul.a-tabs li.a-active a {
    border-color: #c2185b;
    background-color: #fce4ec !important;
    color: #f06292 !important;
  /*  border-top-color: #e77600!important;*/
}
.message-row-unread {
    background-color: #fce4ec !important;
    color: #f06292 !important;
}
.message-table-row {
    border-bottom: 1px solid #fce4ec !important;
}
.message-table-row-content {
    color: #f06292 !important;
}

#criticalInfo td {
    background-color: #fce4ec !important;
}
.message-table-row:hover {
    background-color: #fce4ec !important;
}
.message-center-left-nav:hover {
    background-color: #fce4ec !important;
}
.a-switch {
    background-color: #fce4ec !important;
    border: 1px #c2185b solid !important;
}
.a-switch-control {
    background: #fce4ec !important;
    border: 1px #c2185b solid !important;
}
#asv-allowance-form-container .form-action {
    background: #fce4ec !important;
}
.vpc_coupon_bar {
    background: #fce4ec !important;
}
.a-alert-warning .a-alert-container {
    background-color: #fce4ec !important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* HEADER */
/*:::::::::::::::::::::::::::::::::::*/

#navbar.nav-bluebeacon #nav-belt {
    background-color: #fce4ec !important
    /*#232f3e*/
    
    ;
}
#navbar.nav-bluebeacon #nav-search .nav-search-scope.nav-focus, #navbar.nav-bluebeacon #nav-search .nav-search-scope:focus, #navbar.nav-bluebeacon #nav-search .nav-search-scope:hover {
    background-color: #fce4ec !important;
    border-left-color: #c2185b !important;
    border-top-color: #c2185b !important;
    border-bottom-color: #c2185b !important;
}
#navbar.nav-bluebeacon #nav-search .nav-search-scope {
    background-color: #ffbdd3 !important;
    background-image: none!important;
    border-right: 1px solid #c2185b !important;
    border-left: 1px solid #c2185b !important;
    border-top: 1px solid #c2185b !important;
    border-bottom: 1px solid #c2185b !important;
}
#navbar.nav-bluebeacon #nav-search-label {
    top: 222px !important;
    font-weight: 400;
}
#nav-search .nav-search-scope {
    border: 1px solid #111!important;
    border-top-color: #111!important;
}
.a-input-text, input[type="text"], input[type="search"], input[type="number"], input[type="tel"], input[type="password"], input[type="date"], input[type="email"] {
    background-color: #fce4ec !important;
    color: #f06292 !important;
}
#nav-search .nav-active {
    background: none !important;
}
.nav-searchbar:hover {
    border: 2px #fce4ec solid !important;
}
#nav-search .nav-search-field {
    background: #fce4ec !important;
    border-right: 1px solid #c2185b !important;
    border-top: 1px solid #c2185b !important;
    border-bottom: 1px solid #c2185b !important;
}
#navbar.nav-bluebeacon #nav-search .nav-search-submit {
    background-color: #ffbdd3 !important;
    background-image: none!important;
    border: #c2185b !important;
    width: 45px;
}
#navbar.nav-bluebeacon #nav-search .nav-search-submit.nav-focus, #navbar.nav-bluebeacon #nav-search .nav-search-submit:focus, #navbar.nav-bluebeacon #nav-search .nav-search-submit:hover {
    filter: brightness(200%);
}
#navbar.nav-bluebeacon #nav-main {
    background-color: #fce4ec !important;
}
.nav-subnav #nav-subnav.spacious {
    height: 50px;
    background: #fce4ec !important;
}
/* HEADER SEARCH BORDER EDIT */
/*#searchOrdersInput,*/

.nav-search-scope, .nav-focus, .nav-search-label, .nav-searchbar .nav-active, .nav-search-facade, .nav-search-field {
    border: none !important;
    box-shadow: none !important;
}
.nav-searchbar {
/*     border: 1px #c2185b solid !important; */
}
#twotabsearchtextbox {
/*     border: 1px transparent solid !important; */
}
/* HEADER Buttons layout */

#navbar.nav-bluebeacon #nav-programs .nav-a:hover, #navbar.nav-bluebeacon #nav-shop .nav-a:hover, #navbar.nav-bluebeacon #nav-tools .nav-a:hover {
    /*Departments,EN,Account & Lists,Orders,Try Prime,Cart*/
    
    background: #fce4ec !important;
    color: #00f !important;
    border-radius: 5px !important;
}
#navbar.nav-bluebeacon #nav-xshop .nav-a:hover {
    /*Browsing History Name's Amazon.com*/
    
    filter: brightness(200%);
}
/*HEADER MENU DEPARTMENTS >*/

.nav-flyout {
    background: #fce4ec !important;
    border-color: #c2185b !important;
}
.nav-catFlyout .nav-promo {
    display: none;
}

/*HEADER MENU BROWSER HISTORY >*/

#nav-timeline {
    color: #f06292!important;
}
.nav-timeline-line {
    border-top: 10px solid #c2185b !important;
}
/*BACKGROUND*/

#nav-timeline.nav-timeline-asin-title-enabled .nav-timeline-img-holder, .nav-timeline-item {
    background: #fce4ec !important;
}
/*ACCOUNTS & LIST*/

#navbar .nav-flyout-sidePanel {
    border: 1px solid #c2185b !important;
    background: #fce4ec !important;
}
/*BUTTONS ADD ITEM*/

.bia-item .bia-action-button {
    color: #f06292 !important;
    border: #c2185b 1px solid!important;
    border-radius: 3px 3px 3px 3px!important;
    background: #fce4ec !important;
    box-shadow: none !important;
}
/*TRY PRIME*/

.pin-nav-content-img {
    background: #fce4ec !important;
}
.pin-nav-content-img .prime-button-try a {
    color: #f06292 !important;
    border: #c2185b 1px solid!important;
    border-radius: 3px 3px 3px 3px!important;
    background: #fce4ec !important;
    box-shadow: none !important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* COMPARISON WITH OTHER ITEMS */
/*:::::::::::::::::::::::::::::::::::*/

.comparison_table tr:nth-child(2n) td.comparison_baseitem_column {
    background-color: #fce4ec !important;
    border: 1px #c2185b solid !important;
}
.comparison_baseitem_column {
    background-color: #ffbdd3 !important;
    border-left: 1px solid #c2185b !important;
    border-right: 1px solid #c2185b !important;
}
table.a-bordered tr:nth-child(2n) {
    background-color: #fce4ec !important;
}
table.a-bordered td, table.a-bordered th {
    border-bottom: 1px solid #c2185b;
}
/*:::::::::::::::::::::::::::::::::::*/
/* START OF BODY MAIN PAGE */
/*:::::::::::::::::::::::::::::::::::*/

#gw-desktop-herotator {
    /*AMAZON MISC ITEM DISPLAY*/
    
    filter: brightness(70%);
}
.hover-text {
    /*FREE SHIPPING on over 100 million items*/
    
    color: #f06292;
    background-color: #fce4ec !important;
}
/*PRIME 10 OR LESS VIDEO MUSIC */
/*BACKGROUND PARENT*/

.hud-white-dashboard {
    background-color: #fce4ec !important;
    ;
}
/*TABLE*/

.hud-white-dashboard .hud-feed-carousel .feed-carousel-card {
    background-color: #fce4ec !important;
    border: 1px #c2185b solid !important;
}
/*BACKGROUND PARENT*/

#gw-content-grid-bottom > div, #gw-content-grid-top > div {
    background: #fce4ec !important;
}
/* Recommended deals: */

.deals-shoveler.fresh-shoveler {
    background: #fce4ec !important;
}
.feed-carousel .feed-scrollbar-track {
    background-color: #fce4ec !important;
}
#a-page .billboardRow {
    filter: brightness(50%);
}
/*:::::::::::::::::::::::::::::::::::*/
/* Contact Us */
/*:::::::::::::::::::::::::::::::::::*/

.cs-contact-title {
    border: 1px solid #c2185b !important;
}
.cu-bottom, .cu-bottom-left, .cu-eb-bottom, .cu-eb-bottom-left, .cu-eb-top, .cu-eb-top-left, .cu-top, .cu-top-left {
    border: none !important;
    box-shadow: none !important;
}
.cs-step {
    border: none !important;
    color: #fce4ec !important;
}
a.anchor-radio-btn {
    filter: invert(100%) brightness(100%) contrast(100%) grayscale(100%);
}
.cs-content * {
    border-left-color: #c2185b !important;
    border-top-color: #c2185b !important;
    border-bottom-color: #c2185b !important;
    border-right-color: #c2185b !important;
}
.cu-syska-alert {
    background: #fce4ec !important;
    border: 1px solid #900 !important;
    color: #777 !important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* YOUR ACCOUNT PAGE */
/*:::::::::::::::::::::::::::::::::::*/

#hud-dashboard .profile-image {
    filter: invert(100%) brightness(100%) contrast(100%) grayscale(100%);
}
#hud-dashboard {
    background-color: #fce4ec !important;
    /*padding: 24px 8px 20px 26px;*/
    
    padding: 24px 8px 20px 26px;
    border-top: 1px solid #c2185b !important;
    border-bottom: 1px solid #c2185b !important;
    height: 115px !important;
}
.a-box {
    border-radius: 4px!important;
    border: 1px #c2185b solid!important;
    background-color: #fce4ec !important;
}
#rhf .rhf-border {
    border: 1px solid #c2185b !important;
    border-radius: 5px;
    padding: 0 20px;
}
#rhf .rhf-divider::after, #rhf .rhf-divider {
    border: none !important;
    background: #fce4ec!important;
    box-shadow: none !important;
}
#rhf .rvi-container {
    background: linear-gradient(#fce4ec, #fce4ec) !important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* YOUR ORDER PAGE */
/*:::::::::::::::::::::::::::::::::::*/

.a-search input {
    border: #c2185b 1px solid!important;
    box-shadow: none !important;
}

.a-button-search .a-button-inner:not(selected) {
    filter: brightness(60%) contrast(100%);
    background: #fce4ec !important;
    border: #c2185b 1px solid!important;
    box-shadow: none !important;
}
/*.a-button-toggle.a-button-thumbnail .a-button-inner img {
    filter: invert(100%);
}*/
 
/*.a-button:not(.a-button-search):not(.s-color-twister-thumbnail) {
    filter: invert(100%) brightness(85%) contrast(100%);
    border: none !important;*/
    /*PROBLEM*/
 /*   
    box-shadow: none !important;
}
*/
#twister .swatches li:not(.swatchSelect) {
    border: 1px solid #c2185b !important;
}
/*#twister .swatches li.swatchSelect {
    border-color: #E47911;
}*/
.a-color-alternate-background {
    background-color: #fce4ec !important;
}

/*:::::::::::::::::::::::::::::::::::*/
/* LOGIN AND SECURITY */
/*:::::::::::::::::::::::::::::::::::*/


.a-box .a-divider.a-divider-break h5, .a-color-base-background .a-divider.a-divider-break h5, .a-divider.a-divider-break h5 {
    background-color: #fce4ec !important;
}
.a-box .a-divider.a-divider-break::after, .a-color-base-background .a-divider.a-divider-break::after, .a-divider.a-divider-break::after {
    border-top: 1px solid #c2185b !important;
}
.a-box .a-divider.a-divider-section .a-divider-inner::after, .a-color-base-background .a-divider.a-divider-section .a-divider-inner::after, .a-divider.a-divider-section .a-divider-inner::after {
    background: #fce4ec !important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* PRIME */
/*:::::::::::::::::::::::::::::::::::*/

#membershipInfoLeftPanelDiv {
    border: 1px #c2185b solid !important;
    background-color: #fce4ec !important;
}
.a-alert-info .a-alert-container {
    background-color: #fce4ec !important;
}
.autoRenewWarningMessage {
    border: 1px #c2185b solid !important;
    background-color: #fce4ec !important;
}
.hrDiv {
    border: 1px #c2185b solid !important;
}
.membershipSettingsInfoItemDiv {
    color: #edd3dc;
}
/*:::::::::::::::::::::::::::::::::::*/
/* PRIME */
/*:::::::::::::::::::::::::::::::::::*/

.a-popover-inner {
    background-color: #fce4ec !important;
    padding: 14px 18px;
    text-align: left;
    overflow-x: hidden;
}
.a-dropdown-common .a-dropdown-item:active .a-dropdown-link, .a-dropdown-common .a-dropdown-item:hover .a-dropdown-link {
    border-color: #c2185b;
    background-color: #fce4ec;
    color: #f06292;
}
.a-dropdown-common .a-dropdown-item:focus .a-dropdown-link.a-active {
    background-color: #fce4ec;
    border-color: #c2185b;
    color: #f06292!important;
}
.a-ordered-list.a-list-link a, .a-unordered-list.a-list-link a, ol.a-list-link a, ul.a-list-link a {
    color: #f06292;
}
.a-popover-wrapper, .a-popover-header .a-popover-header-content {
    border: none !important;
    box-shadow: none!important;
    background-color: #fce4ec !important;
}
.a-popover-header {
    background: #fce4ec !important;
    border: none !important;
    box-shadow: none!important;
}
.compositeThumbnailContentView {
    background: #fce4ec !important;
    border: none !important;
    box-shadow: none!important;
}
/*:::::::::::::::::::::::::::::::::::*/
/* PAYMENT OPTIONS */
/*:::::::::::::::::::::::::::::::::::*/

a.a-link-section-expander {
    color: #f06292 !important;
    background-color: #fce4ec !important;
    border: 1px #c2185b solid !important;
    box-shadow: none!important;
}
.a-section-expander-container {
    border: 1px #c2185b solid !important;
}

/*:::::::::::::::::::::::::::::::::::*/
/* GIFT CARDS */
/*:::::::::::::::::::::::::::::::::::*/

#nav-subnav {
    background: #ffbdd3 !important;
}
.gcYASubnav li.selected {
    background-color: #fce4ec;
    border-left: 1px solid #c2185b;
    border-right: 1px solid #c2185b;
    border-top: 1px solid #c2185b;
    border-bottom: 1px solid #c2185b;
/*    color: #E47911;*/
    font-weight: 700;
    margin: 0 -1px 0 0;
    text-decoration: none;
    position: relative;
}
.gcYASubnav li:not(.selected) {
    background-color: #fce4ec;
    border-bottom: 1px solid #c2185b;
    border-left: 1px solid #c2185b;
    border-right: 1px solid #color;
    display: block;
    margin: 0;
    padding: 8px 4px 8px 10px;
}
.RBB1, .RBB11, .RBB12, .RBB14, .RBB2 {
    border: 1px solid #c2185b;
}
.RBC1, .RBC11, .RBC13, .RBC3, .RBC5, .RBC7, .RBC9, .RBT3, .RBT5, .RBT7, .RBT9 {
    background-color: #fce4ec;
}
.gcNewBalanceBox .autoReload {
    padding-left: 30px;
    background-color: #fce4ec;
    color: #f06292;
    padding-right: 50px;
    border-left: 1px solid #c2185b;
}
a.amzn-btn, a.amzn-btn-disabled {
    background: #fce4ec !important;
    box-shadow: none !important;
}
a.amzn-btn span, a.amzn-btn-disabled span {
    color: #f06292 !important;
    border: #c2185b 1px solid!important;
    border-radius: 3px 3px 3px 3px!important;
    background: #fce4ec !important;
    box-shadow: none !important;
}
a.amzn-btn span:hover, a.amzn-btn-disabled span:hover {
    color: #f06292 !important;
    border: #c2185b 1px solid!important;
    border-radius: 3px 3px 3px 3px!important;
    background: #fce4ec !important;
    box-shadow: none !important;
}
.gcPagGradient, .gcPagFooterGradient {
    display: none !important;
}
table.gcYAData tr.trHover td {
    background: #fce4ec !important;
}
table.gcYAData tr td, table.gcYAData tr th {
    border-bottom: 1px dotted #c2185b;
}
#cbcc_banner {
    background-color: #fce4ec !important;
}
.cbcc_box {
    border: 1px solid#c2185b !important;
}
.cbcc_cboxTL, .cbcc_cboxTR, .cbcc_cboxBL, .cbcc_cboxBR {
    display: none !important;
}
#huc-v2-order-row-items {
    background-color: #fce4ec !important;
}
#huc-v2-order-row-messages {
    background-color: #fce4ec !important;
    border-right: 1px solid #c2185b !important;
}
.huc-v2-order-row .huc-v2-color-success {
    color: #099700 !important;
}
.cbcc_cboxB, .cbcc_cboxR {
    background-color: #fce4ec !important;
}
.huc-v2-pinned-order-row-with-divider {
    background-color: #fce4ec !important;
}
.huc-v2-upsell-item-slide {
    background: #fce4ec !important;
    border-top: 1px #c2185b solid;
    border-bottom: 1px #c2185b solid;
}
#automotiveStripeMain {
    border-bottom: 1px solid #c2185b !important;
}
#automotiveStripe {
    background-color: #fce4ec !important;
}

/*:::::::::::::::::::::::::::::::::::*/
/* SIDEBAR MAGE PAGE */
/*:::::::::::::::::::::::::::::::::::*/

#pageContent .sidebar, #sidebar {
    background: #fce4ec !important;
}
#zg #zg_col2 {
    border-left: 1px #c2185b solid;
}
#zg .zg_more .zg_more_subtitle {
    color: #f06292;
    border-top: 1px solid #c2185b;
}
/*:::::::::::::::::::::::::::::::::::*/
/* Text Colors */
/*:::::::::::::::::::::::::::::::::::*/
/*Computer deals laptop tablets desktop monitors computer acccessoies pc components pc gaming*/
.cs-step {
    color: #f06292 !important;
}
.ship-track-large-horizontal-widget .bottom .delivery-status.exception {
    color: #f06292 !important;
}
#nav-subnav .nav-a {
    color: #f06292 !important;
}
#zg .zg_more a.zg_more_link .zg_more_title {
    color: #f06292 !important;
}
.mega-menu a {
    color: #f06292 !important;
}
.mega-menu .mm-category-list {
    color: #f06292 !important;
}
a.amzn-btn span {
    color: #f06292 !important;
}
.deals-shoveler .dealPrice {
    color: #f06292 !important;
}
#rhf .ybh-fresh-link {
    color: #f06292 !important;
}
.a-color-base {
    color: #f06292 !important;
}
.rbbHeader .rbbHeaderLink {
    color: #f06292 !important;
}
.a-ordered-list .a-list-item, .a-unordered-list .a-list-item, ol .a-list-item, ul .a-list-item {
    color: #f06292 !important;
}
.a-checkbox label, .a-radio label {
    color: #f06292;
}
.a-price[data-a-color="base"] {
    color: #f06292 !important;
}
.ya-card__heading--rich {
    color: #f06292 !important;
}
.hud-carousel-element a:active .value, .hud-carousel-element a:focus .value, .hud-carousel-element a:hover .value, .hud-carousel-element a:link .value, .hud-carousel-element a:visited .value {
    color: #f06292 !important;
}
#hud-dashboard .customer-name a:link, #hud-dashboard .customer-name a:visited {
    color: #f06292 !important;
}
#hud-dashboard, .hud-modal, .hud-modal ul.prime-benefits li, .popup-gutter {
    color: #f06292 !important;
}
.gcYANavCurrent {
    color: #f06292 !important;
}
#ybh.desktop .asin-title, #ybh.tablet .asin-title {
    color: #f06292 !important;
}
.hud-white-dashboard .hud-card-title, .hud-white-dashboard .hud-card-title-wrapper {
    filter: brightness(200%);
}
.hud-white-dashboard .hud-profilecard-digital-preorders, .hud-white-dashboard .hud-profilecard-yourorders, .hud-white-dashboard .hud-profilecard-category, .hud-white-dashboard .hud-profilecard-name, .hud-white-dashboard .hud-profile-giftguide-text-only-option-text {
    filter: brightness(400%);
}
.welcome-msg {
    color: #f06292 !important;
}
.card-faceout-container .card-title {
    color: #f06292 !important;
}
.a-profile-name {
    color: #f06292 !important;
}
.a-color-base {
    color: #f06292 !important;
}
#a-page div.left_nav.browseBox a, div.left_nav p a {
    color: #f06292 !important;
}
.auto-checkin-expresspickup {
    color: #f06292 !important;
}
.a-alert-inline-info .a-alert-container {
    color: #f06292 !important;
}
#productDescription ul {
    color: #f06292 !important;
}
h1 {
    color: #c2185b !important;
}
h2 {
    color: #f06292 !important;
}
h3 {
    color: #f06292 !important;
}
h4 {
    color: #f06292!important;
}
h5 {
    color: #f06292 !important;
}
h6 {
    color: #f06292 !important;
}
p {
    color: #f06292 !important;
}
.recipient-address li, .recipient-address ul {
    color: #f06292 !important;
}
*|*:link {
    color: #d4bcc3 ;
}
/*:::::::::::::::::::::::::::::::::::*/
/* MISC */
/*:::::::::::::::::::::::::::::::::::*/
#FirstBrowse_Tooltip * {
    color: #f06292 !important;
}
.aplus-v2 th.apm-tablemodule-keyhead {
    border-top: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
    color: #f06292 !important;
}
.aplus-v2 .apm-tablemodule-valuecell.selected {
    background-color: #fce4ec !important;
}
.a-expander-content-fade {
   background: linear-gradient(to bottom,rgba(255,255,255,0),#fce4ec) !important;
}
.a-expander-partial-collapse-header {
    background-color: #fce4ec !important;
    border-bottom: 1px #c2185b solid !important;
}
.pay-desktop .rewards-account-row,
.pay-desktop .payment-row {
    border: 1px solid #c2185b !important;
}
.a-alert-error .a-alert-container {
    background-color: #fce4ec !important;
}
.a-input-text input.a-form-error, .a-input-text.a-form-error, input[type="text"] input.a-form-error, input[type="text"].a-form-error, input[type="search"] input.a-form-error, input[type="search"].a-form-error, input[type="number"] input.a-form-error, input[type="number"].a-form-error, input[type="tel"] input.a-form-error, input[type="tel"].a-form-error, input[type="password"] input.a-form-error, input[type="password"].a-form-error, select.a-select-multiple input.a-form-error, select.a-select-multiple.a-form-error, textarea input.a-form-error, textarea.a-form-error {
    border-color: #d00 !important;
}
.list-address-selected,
.pay-desktop .rewards-account-selected {
    background-color: #fce4ec !important;
    border: 1px solid #F00 !important;
}
.pay-desktop .payment-selected {
    background-color: #fce4ec !important;
    border-radius: 5px;
}
.ap_popover_sprited .ap_closebutton, .ap_popover_sprited .ap_footer .ap_left, .ap_popover_sprited .ap_footer .ap_middle, .ap_popover_sprited .ap_footer .ap_right, .ap_popover_sprited .ap_header .ap_left, .ap_popover_sprited .ap_header .ap_middle, .ap_popover_sprited .ap_header .ap_right {
    background-image: none !important;
}
.ap_popover_sprited .ap_body .ap_left, .ap_popover_sprited .ap_body .ap_right {
    background-image: none !important;
}
.chat-frozen .chat-roller {
    background: #fce4ec !important;
}
.primeCentralGenericWidgetHeaderLabel {
    background: #fce4ec !important;
}
.cs-chat-popover {
    border: 1px #c2185b solid !important;
}
#ap_overlay {
  opacity: 0.4 !important;
}
.invitationWidgetDownArrow {
/*  filter: invert(100%); */
    border: 1px #c2185b solid !important;
}
.ship-track-large-horizontal-widget .tracker-container {
    background: #fce4ec !important;
}
.ship-track-large-horizontal-widget .tracker-container.exception .package-status {
    background-color: #fce4ec !important;
}
.pet_footer {

    background: #fce4ec !important;
}
#pet_pmp_desktop,
#pet_pmp_desktop .pet_card,
.iss-banner-ad {
    background-color: #fce4ec !important;
}
.a-form-actions {
    border-top: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
    background: #fce4ec !important;
}
.kfs-current .kfs-link-text {
    color: #f06292 !important;
}
.kcc-fill {
    background-color: #fce4ec !important;
}
.kfs-bg-container {
    background-image: none !important;
}
.sx-sparkle-container {
    background-color: #fce4ec !important;
    border: 1px solid #c2185b !important;
}
.chat-flow .chat-flow-button-row {
    background: #fce4ec !important;
}
textarea {
    background-color: #fce4ec!important;
}
.chat-convo {
    background-color: #fce4ec !important;
    color: #fff !important;
}
.chat-flow .chat-flow-field-blocks {
    background: #fce4ec !important;
}
.chat-flow .chat-flow-footer {
    border-top: 1px sol id #c2185b !important;
    background: #fce4ec!important;
}
#superleafActionPanelWrapper {
    background: #fce4ec !important;
}
.instantsavings-button {
    border: 1px solid #c2185b !important;
    background-image: #fce4ec !important;
}
#superleafActionPanel #availability .a-color-success {
    color: #60ff00 !important;
}
#imageBlock.superleaf {
    background: #fce4ec !important;
}
#hqp-slot.superleaf {
    background: #fce4ec !important;
}
.a-button-toggle.a-button-selected, 
.a-button-toggle.a-button-selected.a-button-unavailable {
    border: 1px solid #f00 !important;
}


.banner-border {
    background: #fce4ec !important;
}
.benefits-container {
    filter: invert(100%) hue-rotate(180deg);
}
.profile-search-bar-outer.desktop {
    background-color: #fce4ec !important;
}
.expansion-container {
    border-right: 5px solid #c2185b !important;
    border-left: 5px solid #c2185b !important;
    background-color: #fce4ec!important;
}
.carousel-header > div {
    color: #f06292 !important;
}
.acs-wtfl-filtersort-wrap{
    background-color: #fce4ec !important;
}
.acs-wtfl-card {
    border: 2px solid #c2185b !important;
    background-color: #fce4ec !important;
}
.acs-wtfl-card-details {
    background-color: #fce4ec !important;
    border-top: 1px solid #c2185b;
}
#actionPanelWrapper.burj {
    background: #fce4ec !important;
}
.s-result-card, .s-result-card-for-container .s-item-container {
    background: #fce4ec !important;
    box-shadow: none !important;
    border-color: #c2185b !important;
}
.card.desktop.name-header-card, .profile-v5-desktop-background {
    background-color: #fce4ec !important;
}
.name-header-widget.desktop .edit-name-icon {
    filter: invert(100%);
}
.avatar-image-container {
    filter: brightness(60%);
}
.deck-container.sub .card.desktop {
    background: #fce4ec !important;
    box-shadow: none !important;
}
.card.desktop {
    border: 1px solid#c2185b !important;
}
.deck-container.main .card.desktop {
    background: #fce4ec !important;
}
.glimpse-card {
    border: 1px solid #c2185b !important;
    background: #fce4ec !important;
}
.glimpse-card-headline a, .glimpse-profile-name a {
    color: #f06292 !important;
}
.profile-v5-desktop {
    background: #fce4ec !important;
}
.profile-search-bar-outer.desktop {
    background: #fce4ec !important;
}
.profile-search-bar-inner {
    background: #fce4ec !important;
}
.search-input-field.desktop {
    border: 1px solid #c2185b !important;
}
.sm-faq li {
    color: #f06292 !important;
}
.view-alert-container.desktop .view-alert.self {
    background: #fce4ec !important;
    box-shadow: none !important;
}
.cover-photo-container.desktop img {
    filter: brightness(40%);
}
.a-alert-warning .a-alert-container {
    background-color: #fce4ec !important;
}
.digital-dash-c-header {
    background-color: #fce4ec !important;
    border-bottom: 1px solid #c2185b !important;
}
.digital-dash-dashboard-content, .digital-dash-sticky-content {
    background-color: #fce4ec !important;
}
ul.a-pagination li {
    background-color: #fce4ec !important;
}
ul.a-pagination li.a-selected a {
    background-color: #fce4ec !important;
}
ul.a-pagination li a {
    background: #fce4ec !important;
    color: #f06292 !important;
}
.sns-top-subnav-row {
    background-color: #fce4ec !important;
    border-bottom: 1px solid #c2185b !important;
}
.mag-entry-blue {
    background-color: #fce4ec !important;
    border: none !important;
    color: #c2185b !important;
}
.sm-text-v1217-b-000000 {
    color: #f06292 !important;
}
.sm-text-v1017-n-000000, .sm-text-v1217-n-000000, .sm-text-v1117-n-000000 {
    color: #f06292 !important;
}
.mag-entry-blue #tl, .mag-entry-blue #tr, .mag-entry-blue #bl, .mag-entry-blue #br, .sm-border-blueTL, .sm-border-blueTR, .sm-border-blueBL, .sm-border-blueBR {
    display: none !important;
}
.a-global-nav-wrapper {
    border-bottom: 1px solid #c2185b !important;
    background: #fce4ec !important;
}
.swa-widget-list-header {
    background: #fce4ec !important;
}
.a-color-alternate-background {
    background-color: #fce4ec !important;
}
table.a-bordered tr:first-child th {
    background: #fce4ec !important;
}
.kfs-bg-container {
    filter: brightness(60%);
}
#kfs-slide-control {
    background-image: none !important;
    background: #fce4ec !important;
}
#asv-gclp-balance-widget-desktop {
    background: #fce4ec !important;
}
.a-color-alternate-background {
    background-color: #fce4ec !important;
}
.csg-hover-box .csg-hover-box-categories {
    background: none repeat scroll 0 0 #fce4ec !important;
    border-right: 1px solid #c2185b !important;
}
.a-color-offset-background {
    background-color: #fce4ec !important;
}
#asv-gclp-balance-widget-desktop .asv-gclp-list-link {
    color: #888 !important;
}
#atfCenter6_feature_div > div:nth-child(1) {
    background: #fce4ec !important;
}
.ss-gradient-bg {
    background: #fce4ec !important;
}
.a-accordion .a-accordion-row, .a-accordion .a-accordion-active .a-accordion-row, .a-accordion .a-accordion-active .a-accordion-inner {
    background-color: #fce4ec !important;
}
.a-accordion .a-accordion-row:hover {
    background-color: #fce4ec !important;
}
.wl-list.selected {
    border: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
}
.a-button:hover {
    background: #fce4ec !important;
}
.a-button {
    border: 1px solid #c2185b !important;
}
.fsdFullWidthImage .fsdDeptBox, .fsdTab .fsdDeptBox {
    color: #f06292 !important;
    border: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
}
.fsdDeptTitle {
    color: #f06292 !important;
    border: none !important;
    background-color: #fce4ec!important;
}
div.fsdFullWidthImage {
    background-color: #fce4ec !important;
}
#ivThumbs {
    border: 1px solid #c2185b !important;
}
#ivMediaSelection {
    border: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
}
.aplus-v2 .apm-sidemodule {
    background-color: #fce4ec !important;
}
.cr-lighthouse-term {
    background-color: #fce4ec !important;
    border-bottom: solid 1px #c2185b !important;
    color: #f06292 !important;
}
#productDescription {
    color: #f06292 !important;
}
#productDescription .aplus table.data th {
    background: #fce4ec !important;
}
.askInlineWidget .vote input[type="submit"] {
    background-color: #fce4ec !important;
}
.GB-SUPPLE .tallCellView {
    border-color: #c2185b !important;
}
.GB-SUPPLE .filters, .GB-M-COMMON {
    background-color: #fce4ec !important;
}
.custom-view-options {
    border-bottom: 1px solid #c2185b !important;
}
.a-icon-text-separator, .a-text-separator {
    background-color: #fce4ec !important;
    ;
}
.s-airstream-list {
    border-right: 1px solid #c2185b !important;
}
#airstream-results .s-result-item {
    background-color: #fce4ecc!important;
}
.s-airstream-list .s-item-container {
    border-top: 1px solid #c2185b !important;
    border-left: 1px solid #c2185b !important;
}
#airstream-results {
    background-color: #fce4ec !important;
}

.aux-mix-block-message-container, .aux-mix-intro-message-container, .aux-mix-nfy-message-container {
    background-color: #fce4ec !important;
}

.aux-theme-nav-container.airstream-pin-to-top {
    background-color: #fce4ec !important;
}
#ys-center #ysh-cards-container .recs-grid-container {
    border-top: 1px solid #c2185b !important;
}
#ysh-cards-container li.recs-grid-item {
    border: 2px solid #color !important;
    background: #fce4ec !important;
}
.ys-center {
    background: #fce4ec !important;
}
.s-result-list-hgrid.s-col-1 li:nth-child(n+2) .s-item-container, .s-result-list-hgrid.s-col-10 li:nth-child(n+11) .s-item-container, .s-result-list-hgrid.s-col-11 li:nth-child(n+12) .s-item-container, .s-result-list-hgrid.s-col-12 li:nth-child(n+13) .s-item-container, .s-result-list-hgrid.s-col-2 li:nth-child(n+3) .s-item-container, .s-result-list-hgrid.s-col-3 li:nth-child(n+4) .s-item-container, .s-result-list-hgrid.s-col-4 li:nth-child(n+5) .s-item-container, .s-result-list-hgrid.s-col-5 li:nth-child(n+6) .s-item-container, .s-result-list-hgrid.s-col-6 li:nth-child(n+7) .s-item-container, .s-result-list-hgrid.s-col-7 li:nth-child(n+8) .s-item-container, .s-result-list-hgrid.s-col-8 li:nth-child(n+9) .s-item-container, .s-result-list-hgrid.s-col-9 li:nth-child(n+10) .s-item-container {
    border-top: 1px solid #c2185b !important;
}
.s-border-right {
    border-right: 1px solid #c2185b !important;
}
div.pagn .pagnCur, div.pagnHy .pagnCur {
    filter: brightness(200%);
}

div.pagnHy, .acs-ln-widget .acs-ln-expand-all {
    background-color: #fce4ec !important;
}
.acswidget-carousel--softlines .a-carousel-card {
    border-right: 1px solid #c2185b !important;
}
#asv-form-container .asv-manual-reload-form .form-action {
    background: #fce4ec !important;
    border-top: 1px solid #c2185b !important;
    box-shadow: none !important;
}
.a-keyvalue *:not(.a-icon) {
    color: #f06292 !important;
    background: #fce4ec !important;
    border-top-color: #c2185b !important;
    border-bottom-color: #c2185b !important;
    border-left-color: #c2185b !important;
    border-right-color: #c2185b !important;
}
#unified-nav {
    color: #f06292 !important;
    border-bottom: 1px solid #c2185b !important;
    background: #fce4ec !important;
} 
#zg .zg_pagination {
    border-top: #c2185b 1px solid;
}
.orderSelectButton {
    filter: invert(100%) brightness(100%);
}

.dv-ajax-page, .dv-storefront-page {
    background-color: #fce4ec !important;
    color: #f06292 !important;
}
.dv-carousel-heading {
    background-color: #fce4ec !important;
}
div.dv-superhero-carousel {
    background-color: #fce4ec !important;
}
.dv-fs .dv-fs-list-wrapper {
    background-color: #fce4ec !important;
    border-bottom: 1px solid #c2185b !important;
}
#dv-ajax-btn-overlay, #dv-ajax-overlay {
    background-color: #fce4ec !important;
}
label {
    color: #f06292 !important;
}

.cs-help-header {
    background: #fce4ec !important;
}
.cs-contact-method .bestmethod {
    background-image: none !important;
    background: transparent !important;
    border: 1px #c2185b solid !important;
}

#ybh.desktop #controls .popover, #ybh.tablet #controls .popover {
    color: #f06292 !important;
}


.ys .horizontalNavBar {
    background-color: #fce4ec !important;
    border-top: 1px solid #c2185b !important;
    border-bottom: 1px solid #c2185b !important;
}

.a-alert-success .a-alert-container {
    background-color: #fce4ec !important;
}
.myx-box.a-carousel-container {
    background-color: #fce4ec !important;
    border-bottom: none !important;
}
.myx-box {
    border: 1px #c2185b solid !important;
}
ul.myx-tabs {
    background: #fce4ec !important;
    border: none !important;
    box-shadow: none !important;
}
ul.myx-tabs li.myx-active a {
    background: #fce4ec !important;
    border: none !important;
    box-shadow: none !important;
}
.navHeader_myx .navOptions_myx ul.myx-tabs > li .tab_myx > a, .navHeader_myx .navOptions_myx ul.myx-tabs > li > a {
    border-right: 1px solid #c2185b !important;
}
ul.myx-tabs li a:hover {
    border-color: #c2185b !important;
}

ol.a-carousel {
    color: #f06292 !important;
}
input, select, textarea {
    color: #fff !important;
}
.floatingTaskBar_myx {
    border-bottom: 1px #fce4ec solid !important;
    background-color: #fce4ec !important;
}
.dsv-whiteBox {
    background: #fce4ec !important;
}
.dsv-primary, .dsv-secEyebrow h2 {
    background-color: #fce4ec !important;
}
.dsv-secondary, .dsv-secEyebrow, .dsv-primary {
    border: 1px solid #c2185b !important;
    border-bottom: none;
}
.dsv-cBoxR {
    background-color: #fce4ec !important;
}
.dsv-whiteBoxTL, .dsv-whiteBoxTR, .dsv-whiteBoxBL, .dsv-whiteBoxBR {
    background-image: none !important;
}
.dsv-cBoxB {
    background-color: #fce4ec !important;
    border-bottom: 1px solid #c2185b !important;
}
.a-box-title .a-box-inner {
    background: #fce4ec !important;
}
.imageInformation {
    background: #fce4ec !important;
}
/*Your recently viewed items and featured recommendations*/

#rhf .rhf-header, #rhf .rhf-sub-heading {
    color: #f06292 !important;
}
#rhf .rhf-source-title, #rhf #rhf-shoveler {
    color: #f06292 !important;
}
#zg .zg_itemImmersion .zg_rankNumber {
    color: #f06292 !important;
}
#miniATFUDP {
    box-shadow: none !important;
    background: #fce4ec !important;
    border-top: solid 1px #333!important;
    border-bottom: solid 1px #333!important;
}
#miniATF_titleLink {
    color: #f06292 !important;
}
.dp-accordion .dp-accordion-row {
    background-image: none !important;
    background: #fce4ec !important;
    box-shadow: none !important;
}
.bxc-grid__text--light.bxc-grid-overlay--background {
    background: #fce4ec !important;
    border: solid 1px #c2185b !important;
}
.acs-bgtext-widget .acs-gradient-divider::after {
    display: none !important;
}
#poweredByEmpty {
    background: #fce4ec !important;
    border: solid 1px #c2185b !important;
}
#ybh.desktop .asin_container:not(.right), #ybh.tablet .asin_container:not(.right) {
    border-right: 1px solid #c2185b;
}
#ybh.desktop .asin_container:not(.bottom), #ybh.tablet .asin_container:not(.bottom) {
    border-bottom: 1px solid #c2185b;
}

/*:::::::::::::::::::::::::::::::::::*/
/* FOOTER */
/*:::::::::::::::::::::::::::::::::::*/

#navFooter.navLeftFooter .navFooterBackToTop {
    margin-bottom: 40px;
    background: #c2185b !important;
    border-top: 1px solid #c2185b !important;
    border-bottom: 1px solid #c2185b !important;
}
#navFooter.navLeftFooter {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #fce4ec !important;
    min-width: 1000px;
    position: relative;
}
#navFooter.navLeftFooter .nav-footer-line {
    border-top: 1px solid #c2185b !important;
    margin-top: 40px !important;
}
#navFooter.navLeftFooter .navFooterDescLine {
    border-top: 1px solid #c2185b !important;
    background-color: #fce4ec !important;
    padding: 30px 0;
    margin: 30px 0 0;
}
#navFooter.navLeftFooter .navFooterCopyright {
    border-top: 1px solid #c2185b !important;
    background: #fce4ec !important;
    max-width: 100%;
    margin: 0;
    padding: 0px 0 0px !important;
}


body {
    color: #f06292 !important;
}
body {
    background: #fce4ec !important;
}

html * {
    color: #f06292 !important;
}

.ac-badge-rectangle {
    background-color: #fce4ec !important;
}

.ac-badge-triangle {
    color: #fce4ec !important;
}

html *:hover {
    box-shadow: none !important;
}

#nav-hamburger-menu {
    border: none !important;
}