html, html * {
  color: #e0115f !important;
  background-color: #fce4ec !important;
}

img, video {z-index: 1}
* {border-color: #edd3dc !important}
cite, cite * {color: #fdb9c8 !important}
:link, :link * {color: #c9406e !important}
input, textarea {background-color: #fce4ec !important}
a {background-color: rgba(255, 255, 255, 0.01) !important}
:visited, :visited * {color: rgb(211, 138, 138) !important}
html, body, input, select, button {background-image: none !important}

video {
  background-color: transparent !important;
}
