._2JBsHFobuapzGwpHQjrDlD._2nelDm85zKKmuD94NequP0, 
.wLV79_wV-ziNiWmf3Y7OV._2nelDm85zKKmuD94NequP0, 
._3UhcBirLMXHSbN5vYYBGSF._2nelDm85zKKmuD94NequP0 {
	background-color: white;
}

._3sf33-9rVAO_v4y0pIW_CH {
	border-color: #fce4ec !important;
}
._1jNPl3YUk6zbpLWdjaJT1r {
  background-color: #fff !important;
}
._2iuoyPiKHN3kfOoeIQalDT, ._2JBsHFobuapzGwpHQjrDlD,
.wLV79_wV-ziNiWmf3Y7OV, ._3UhcBirLMXHSbN5vYYBGSF {
   background-color: white;
   border-color: #c2185b;
 }

._1HunhFR-0b-AYs0WG9mU_P._2nelDm85zKKmuD94NequP0,
.wLV79_wV-ziNiWmf3Y7OV._2nelDm85zKKmuD94NequP0,
._3Wg53T10KuuPmyWOMWsY2F {
	border-color: #c2185b;
}

._1HunhFR-0b-AYs0WG9mU_P._2nelDm85zKKmuD94NequP0:hover,
.wLV79_wV-ziNiWmf3Y7OV._2nelDm85zKKmuD94NequP0:hover,
._3Wg53T10KuuPmyWOMWsY2F:hover {
	border-color: #c2185b;
}

._18X7KoiaLuKbuLqg4zE8BH:hover {
  background-color: #fce4ec !important;
}

html, html * {
color: rgb(224, 17, 95) !important;
}

._1bWuGs_1sq4Pqy099x_yy- *,
._1O4jTk-dZ-VIxsCuYB6OR8 circle {
  fill: #f06292;
  color: #f06292;
}

.hpxKmfWP2ZiwdKaWpefMn {
  background-color: #fce4ec !important;
}

input[type="button"]:hover, input[type="submit"]:not(.color):hover,
input[type="reset"]:hover, button:hover, select:hover {
  color: #fce4ec !important;
  background-color: #330715 !important;
}


a, a[class] {
  color: #ad1457 !important;
}


li {
  color: #b52159 !important;
}

tr {
  color: #653d3d !important;
}

cite {
  color: #fdb9c8 !important;
}

input {
  color: #b94258 !important;
}

em {
  color: #a61646  !important;
}

ul {
  color: #650000 !important;
}

nobr {
  color: #4a0505 !important;
}


strong {
  color: #9CC !important;
}


b {
  color: #a61646 !important;
}

a:hover, a:hover *, a:visited:hover, a:visited:hover *, span[onclick]:hover, div[onclick]:hover,
[role="link"]:hover, [role="link"]:hover *, [role="button"]:hover *, [role="menuitem"]:hover, [role="menuitem"]:hover *, .link:hover, .link:hover * {
  color: #c2185b !important;
  background-color: #fce4ec !important;
}

a:visited, a:visited * {
  color: #880e4f !important
}

a.highlight, a.highlight *, a.active, a.active *, .selected, .selected *, [href="#"] {
  color: #DDD !important;
  font-weight: bold !important
}

._2JBsHFobuapzGwpHQjrDlD._2nelDm85zKKmuD94NequP0 {
	border-color: #c2185b;
}

._2JBsHFobuapzGwpHQjrDlD._2nelDm85zKKmuD94NequP0:hover {
	background: white !important;
	border-color: #c2185b;
}
abbr, progress, time, label, .date {
  color: #CDEFC2 !important;
}

mark, code, pre, blockquote, [class*="quote"], td[style*="inset"][class="alt2"] {
  background-color: #00090F !important;
}

[onclick]:hover, [ondblclick]:hover, [onmousedown]:hover {
  color: #FEFF97 !important
}

button {
	border-color: #c2185b !important;
}

button:hover {
	background-color: #fce4ec !important;
	color: white !important;
	border-color: #c2185b !important;
}

a {
	border-color: #c2185b !important;
}

._2c1ElNxHftd8W_nZtcG9zf, 
._2c1ElNxHftd8W_nZtcG9zf:hover {
	border-color: #c2185b !important;
}

svg._2WM2ef3imxyCFqHx0Nx5M4 {
	background: #c2185b !important;
}

div._3HD3Y7jXWPyFxKKnIJCHq3:hover {
	background: #fce4ec !important;
}

div._3obgdFz00GvpqpuX8QCsNK {
	background: #333 !important;
}

blockquote {
	background-color: white !important;
}
