/*html {
   background-color: #252525 !important;
   background-image: none !important;
}*/
::-webkit-scrollbar {
 width: 7px;
 height: 7px;
}
::-webkit-scrollbar-button {
 width: 0px;
 height: 0px;
}
::-webkit-scrollbar-thumb {
 background: #edd3dc;
 border: 0px none #ffffff;
 border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
 background: #e0adad;
}
::-webkit-scrollbar-thumb:active {
 background: #dba9a9;
}
::-webkit-scrollbar-track {
 background: #edd3dc;
 border: 0px dashed #ffffff;
 border-radius: 22px;
}
::-webkit-scrollbar-corner {
 background: transparent;
}
